﻿/* --ELEMENTS-- */

body
{
    background-color: #8AFF5F;
}

h1
{
    /*font-family: "Lucida Console", Monaco, monospace;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
}

h2
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 100;
}

h3
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 100;
}

h4
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 100;
}

table,th,td
{
	border: 1px solid black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


